# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

#pytest cache
.pytest_cache/

# Virtual environment directories
myenv/
venv/

# Database files
*.db

# Environment configuration files
.env

# IDE/editor specific files
.vscode/
.idea/

# Log files
*.log

# Test output
nosetests.xml
coverage.xml
*.cover
*.hypothesis/

# Docker files
.docker/
docker-compose.override.yml

# OS-specific files
Thumbs.db          # Windows
*.swp              # Vim

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Python packaging
build/
dist/
*.egg-info/

# File system metadata
ehthumbs.db
.DS_Store
